<ul>
<% @restaurants.find_all do |r| %>
<% if @user.age < 18 %>
 	<li> <%= r.name if r.serves_alcohol == false %> </li>
<% else %> 
 	<li> <%= r.name if r.serves_alcohol == true %> </li>
 	<% end %>
<% end %>   
</ul>